<!-- templates/news.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance News</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/styles.css">

    <style>
        body {
            background-color: #f8f9fa; /* Lighter background color */
        }

        .container {
            margin-top: 20px;
        }

        .small-stock-item {
            font-size: 14px;
        }

        .small-stock-item .card-body {
            padding: 8px;
        }

        h1, h5 {
            color: #343a40; /* Dark text color */
        }

        p {
            color: #6c757d; /* Medium-dark text color */
        }
    </style>
</head>
<body class ="text-center">

    <div class="container">
        <h1>Finance Tracker</h1>
        <h4 class="text-left">Market status: {{ open }}</h4>

        <h1>Stock Prices</h1>
        <div class="row">
            {% for stock in stock_info_list %}

                <div class="col-md-3 mb-3">
                    <div class="card small-stock-item" style="background-color: {{ stock.color }}">
                        <div class="card-body">
                            <img src="{{ stock.logo }}" alt="{{ stock.symbol }}" class="img-fluid mb-2">
                            {{ stock.stock_info | safe }}
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>

        <h1>Latest News</h1>
        <div class="row">
            {% for entry in headlines %}
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <img src="{{ entry.image }}" class="card-img" alt="{{ entry.headline }}">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title">{{ entry.headline | safe }}</h5>
                                    <p>{{ entry.summary }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <p class="text-center">{{ status }}</p>
    </div>

    <!-- Bootstrap JS and dependencies (jQuery, Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
